/* Custom scrollbar for forecast sections */
.forecast-scroll {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 #f7fafc;
}

/* Chrome, Edge, Safari */
.forecast-scroll::-webkit-scrollbar {
  height: 8px;
  background: #f7fafc;
  border-radius: 8px;
}
.forecast-scroll::-webkit-scrollbar-thumb {
  background: #a0aec0;
  border-radius: 8px;
}
.forecast-scroll::-webkit-scrollbar-thumb:hover {
  background: #718096;
}
@tailwind base; 
@tailwind components;
@tailwind utilities;


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --temperature-color: #444444;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
